.blue.darken-4{
  background-color: darkblue;
}

nav .nav-wrapper{
  position:relative;
  height:100%;
}
*,*:before,*:after{
  box-sizing:inherit;
}
h1 {
  font-family: Bangers;
  color: #d6e0ff;
  font-size: 40px;
  margin: 10px;
}
.brand-logo{
  font-family: 'Audiowide';
}

.item{
  height: 25px;
  width: 50%;
  margin-bottom: 5%;
  font-size: 25px;
}

.list {  
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
   
}

div{
  display:block;
}
html{
  line-height:1.5px;
  font-weight:bold;
}

@media only screen and (min-width: 601px)
  nav,nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
    line-height:64px;
    height:64px;
}
@media only screen and (min-width:1200px)
  html{
    font-size:15px;
}

@media only screen and (min-width: 768px)
  .btn-floating{
    width:inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 0.5rem;
    line-height:60px;
}
nav{
  color:#fff;
  
}

body{
  font-family: helvetica,arial,sans-serif;
  background: beige; 
}
.material-icons:{
  font-family: 'Material Icons';
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  text-transform:none;
  white-space:nowrap;
  direction:ltr;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

th{
  color: Darkblue
}

td{
  color: skyblue;
}

.sidenav li a{
  color: grey;
  
}
.sidenav{
  background-color: #353c52;
  text-color: #d6e0ff;
}

.sidenav li a:active{
  background-color: red;
}
img{
  max-width: 100%;
  height:auto;
  width:auto;
}

#add{
  margin: 8px;
  float: right;
  display: inline-block;
  
}