/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background: white;
}
@media screen and (min-width:400px){
  body{
    background: #f0f0f5;
  }
  .container{
    width:85%;
  }
}

@media screen and (min-width:800px){
  body{
    background: lavender;
  }
  .container{
    width:70%;
  }
}
@media screen and (min-width:1200px){
  body{
    background:#f0f0f5;
  }
  .container{
    width:60%;
  }
}
h1 {
  font-style: normal;
  font-family:"verdana"; 
  font-stretch:bold;
  color: #b6b6b8;
  text-align: Center;
  background-color:aliceblue;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.index_html{
  font-style: oblique;
  padding: 10px;
  font-size: 20px;
  text-align:Center;
  background-color:#f6eec7;
}

p {
  color: #283593 ;
  text-align: Center
}

table,th,td{
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout:fixed;
  width:100%
}
.Intro{
  text-align: Center;
}

.container{
  position: relative;
  width:70%;
  margin:auto;
  max-width: 1280px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.social{
  background:lightblue;
  align-self : center;
  display:inline-block;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-wrapper{
  
}